<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>font-icons</key>
	<array>
		<dict>
			<key>font-name</key>
			<string>icomoon</string>
			<key>icon-name</key>
			<string>pacman</string>
			<key>icon-code</key>
			<string>e000</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>icomoon</string>
			<key>icon-name</key>
			<string>apple</string>
			<key>icon-code</key>
			<string>e001</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>icomoon</string>
			<key>icon-name</key>
			<string>music</string>
			<key>icon-code</key>
			<string>e002</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>icomoon</string>
			<key>icon-name</key>
			<string>bug</string>
			<key>icon-code</key>
			<string>e003</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>icomoon</string>
			<key>icon-name</key>
			<string>plane</string>
			<key>icon-code</key>
			<string>e004</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>icomoon</string>
			<key>icon-name</key>
			<string>smile</string>
			<key>icon-code</key>
			<string>e005</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>icomoon</string>
			<key>icon-name</key>
			<string>git</string>
			<key>icon-code</key>
			<string>e006</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>icomoon</string>
			<key>icon-name</key>
			<string>heart</string>
			<key>icon-code</key>
			<string>e007</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>icomoon</string>
			<key>icon-name</key>
			<string>terminal</string>
			<key>icon-code</key>
			<string>e008</string>
		</dict>
	</array>
</dict>
</plist>
